        div{
            font-family: 'Courier New', Courier, monospace ;
            font-size: 34px;
            color:rgb(145, 94, 18) ;
        }
        h1 {
            background-color: blue;

        }
        #idDIV02{
            color: rgb(114, 166, 211);
        }
    